@charset "utf-8";
.flexBet {
  display: flex;
  justify-content: space-between;
}
.page {
  max-width: 7.5rem;
  margin: 0 auto;
}
.headCon .meau {
  display: flex;
  justify-content: space-between;
  width: 0.55rem;
}
.headCon .meau span {
  width: 0.12rem;
  height: 0.12rem;
  border-radius: 50%;
  background: black;
}
.flexBet {
  display: flex;
  justify-content: space-between;
}
body {
  background-color: #f1f1f1;
}
.headCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.88rem;
  padding: 0.4rem 0.29rem 0;
  background-color: #f26b11;
}
.headCon a {
  display: inline-block;
  position: relative;
  width: 0.15rem;
  height: 0.28rem;
}
.headCon a::before,
.headCon a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-right: 0.15rem solid #fff;
  border-top: 0.15rem solid transparent;
  border-bottom: 0.15rem solid transparent;
}
.headCon a::after {
  left: 0.03rem;
  border-right-color: #f26b11;
}
.headCon p:nth-of-type(1) {
  font: 0.35rem "微软雅黑";
  color: #fff;
}
.headCon .meau span {
  background: #fff;
}
.main {
  overflow: hidden;
  padding-top: 0.26rem;
  padding-bottom: 2.87rem;
  background-color: #fff;
}
.main ul li {
  width: calc(100% + 0.98rem);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-left: 0.24rem;
  box-shadow: 0 0 0.05rem 0.05rem #f8f8f8;
  margin-bottom: 0.3rem;
}
.main ul li .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main ul li .left div:nth-of-type(1) {
  width: 0.34rem;
  height: 0.34rem;
  padding-right: 0.42rem;
}
.main ul li .left div:nth-of-type(1) img {
  width: 0.34rem;
  height: 0.34rem;
}
.main ul li .left img {
  width: auto;
  height: 1.03rem;
  padding-right: 0.36rem;
}
.main ul li .left div:nth-of-type(3) h3 {
  font: 0.26rem/0.53rem "微软雅黑";
  color: #343434;
}
.main ul li .left div:nth-of-type(3) p:nth-of-type(1) {
  font: 0.23rem/0.52rem "微软雅黑";
  color: #666;
}
.main ul li .left div:nth-of-type(3) p:nth-of-type(2) {
  font: 0.32rem/0.49rem Arial;
  color: #e3393c;
}
.main ul li .right span {
  margin-top: 0.82rem;
  float: left;
  width: 0.62rem;
  height: 0.57rem;
  text-align: center;
  font: 0.3rem/0.57rem Arial;
  border-top-left-radius: 0.05rem;
  border-bottom-left-radius: 0.05rem;
  border: 1px solid #505050;
  border-right: none;
}
.main ul li .right span:nth-of-type(2) {
  border-right: 1px solid #505050;
  margin-right: 0.31rem;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.05rem;
  border-bottom-right-radius: 0.05rem;
}
.main ul li .right input {
  margin-top: 0.82rem;
  float: left;
  width: 0.49rem;
  height: 0.57rem;
  padding-left: 0.3rem;
  border: 1px solid #505050;
}
.main ul li .right .delete {
  float: right;
  width: 0.98rem;
  height: 1.72rem;
  font: 0.24rem/1.72rem "微软雅黑";
  text-align: center;
  color: #fff;
  background-color: #e43a3d;
}
.sum {
  position: fixed;
  bottom: 1.2rem;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 1.14rem;
  background-color: #fff;
  align-items: center;
  border-top: 1px solid #e5e5e5;
}
.sum .left {
  font: 0.24rem "微软雅黑";
  color: #666;
}
.sum .left img {
  margin: 0 0.15rem 0 0.24rem;
  width: 0.34rem;
  height: 0.34rem;
}
.sum .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sum .right div:nth-of-type(1) {
  text-align: right;
}
.sum .right div:nth-of-type(1) h4 {
  font: 0.3rem/0.46rem "微软雅黑";
  color: #333;
}
.sum .right div:nth-of-type(1) h4 span {
  color: #e6393d;
}
.sum .right div:nth-of-type(1) p {
  font: 0.2rem/0.36rem "微软雅黑";
  color: #a4a4a4;
}
.sum .right div:nth-of-type(2) a {
  display: block;
  margin-left: 0.38rem;
  width: 2.47rem;
  height: 1.14rem;
  text-align: center;
  font: 0.3rem/1.14rem "微软雅黑";
  color: #fff;
  background-color: #f26b11;
}
.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  align-items: center;
  padding: 0 0.5rem;
  width: 100%;
  height: 1.2rem;
  box-sizing: border-box;
  background-color: #fff;
  border-top: 1px solid #ebebeb;
}
.footer a {
  text-align: center;
}
.footer a img {
  width: auto;
  height: 0.53rem;
}
.footer a p {
  font: 0.2rem/0.4rem "微软雅黑";
  color: #898989;
}
.footer a .active {
  color: #f26b11;
}
