@charset "utf-8";
.flexBet {
  display: flex;
  justify-content: space-between;
}
.page {
  max-width: 7.5rem;
  margin: 0 auto;
}
.headCon .meau {
  display: flex;
  justify-content: space-between;
  width: 0.55rem;
}
.headCon .meau span {
  width: 0.12rem;
  height: 0.12rem;
  border-radius: 50%;
  background: black;
}
.flexBet {
  display: flex;
  justify-content: space-between;
}
body {
  background-color: #f1f1f1;
}
::placeholder {
  font-size: 0.25rem;
  color: #fff;
}
.headCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.88rem;
  padding: 0.4rem 0.29rem 0;
  background-color: #f26b11;
}
.headCon a {
  display: inline-block;
  position: relative;
  width: 0.15rem;
  height: 0.28rem;
}
.headCon a::before,
.headCon a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-right: 0.15rem solid #fff;
  border-top: 0.15rem solid transparent;
  border-bottom: 0.15rem solid transparent;
}
.headCon a::after {
  left: 0.03rem;
  border-right-color: #f26b11;
}
.headCon p:nth-of-type(1) {
  font: 0.35rem "微软雅黑";
  color: #fff;
}
.headCon .meau span {
  background: #fff;
}
.main {
  background-color: #fff;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.main .left {
  border-right: 1px solid #d9d9d9;
  padding-top: 0.39rem;
}
.main .left ul li {
  padding-bottom: 0.62rem;
}
.main .left ul li a {
  display: inline-block;
  font: 0.26rem/0.52rem "微软雅黑";
  color: #666;
  padding: 0 0.3rem;
  border-left: 0.08rem solid transparent;
}
.main .left ul li .active {
  border-left: 0.08rem solid #f26b11;
}
.main .right {
  padding: 0.39rem 0.2rem 0 0.26rem;
}
.main .right .item {
  width: 5.2rem;
  padding-bottom: 0.76rem;
}
.main .right .item .nav h3 {
  font: 0.26rem/0.57rem "微软雅黑";
  color: #464646;
  padding-left: 0.19rem;
}
.main .right .item .nav a {
  position: relative;
  font: 0.24rem/0.57rem "微软雅黑";
  color: #464646;
  padding-right: 0.2rem;
}
.main .right .item .nav a::before,
.main .right .item .nav a::after {
  content: "";
  position: absolute;
  top: 0.17rem;
  right: 0.1rem;
  width: 0;
  height: 0;
  border-left: 0.11rem solid #666;
  border-top: 0.11rem solid transparent;
  border-bottom: 0.11rem solid transparent;
}
.main .right .item .nav a::after {
  right: 0.13rem;
  border-left-color: #fff;
}
.main .right .item ul {
  width: 5.2rem;
}
.main .right .item ul li {
  float: left;
  margin-right: 0.15rem;
}
.main .right .item ul li a {
  display: block;
  text-align: center;
}
.main .right .item ul li a img {
  height: 1.52rem;
}
.main .right .item ul li a p {
  font: 0.24rem/0.68rem "微软雅黑";
  color: #878787;
}
.main .right .item ul .mar0 {
  margin-right: 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  align-items: center;
  padding: 0 0.5rem;
  width: 100%;
  height: 1.2rem;
  box-sizing: border-box;
  background-color: #fff;
  border-top: 1px solid #ebebeb;
}
.footer a {
  text-align: center;
}
.footer a img {
  width: auto;
  height: 0.53rem;
}
.footer a p {
  font: 0.2rem/0.4rem "微软雅黑";
  color: #898989;
}
.footer a .active {
  color: #f26b11;
}
